@using G_IPG_API.Models
@using G_IPG_API.Models.DataModels
@using Newtonsoft.Json
@model LinkRequest
@{
    ViewData["Title"] = "صورتحساب";
    var refId = ViewBag.RefId != null ? (string)ViewBag.RefId : string.Empty;
    var errorCode = ViewBag.ErrorCode != null ? (string)ViewBag.ErrorCode : string.Empty;
    var bill = JsonConvert.DeserializeObject<FactorDataModel>(Model.FactorDetail);
}

<link href="https://my.welscoin.com/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="https://my.welscoin.com/Content/assets/css/elements/alert.css" rel="stylesheet" id="bootstrap-css">

<style>
    .invoice-title h2, .invoice-title h3 {
        display: inline-block;
    }

    .table > tbody > tr > .no-line {
        border-top: none;
    }

    .table > thead > tr > .no-line {
        border-bottom: none;
    }

    .table > tbody > tr > .thick-line {
        border-top: 2px solid;
    }

    .invoice {
        direction: rtl;
        border: 1px solid #dddada;
        padding-block: 10px;
        margin: 50px auto;
        box-shadow: 0 0 10px #d3d3d3;
        border-radius: 5px;
        font-family: tahoma;
        line-height: 24px;
    }

        .invoice address {
            color: #767070;
            line-height: 24px;
        }

            .invoice address strong {
                color: #000;
            }

        .invoice table thead td {
            color: darkgoldenrod;
            background-color: #f1f1f1;
            padding: 10px;
        }

        .invoice tbody td {
            padding: 10px !important;
        }

</style>

<div class="container invoice">
    <div class="row">
        <div class="col-md-12">
            <div class="invoice-title clearfix">
                <h2> صورتحساب @Model.RequestId</h2>
                <img src="https://my.welscoin.com/Content/assets/img/login-image.png" width="64" height="64" style="float:left"  />
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <address>
                        <strong>مشخصات خریدار :</strong><br>
                        نام مشتری : @bill.Header.CutomerName<br>
                        شناسه مشتری: @bill.Header.CustomerId<br>
                        شماره تلفن: @bill.Header.CustomerTelephone<br>
                        شماره موبایل: @bill.Header.CustomerMobile<br>
                    </address>
                </div>
                <div class="col-md-6 col-xs-12">
                    <address class="m-t-5 m-b-5">
                        <strong class="text-inverse">مشخصات سبد</strong><br>
                        شناسه صورتحساب: @bill.Header.FactorId <br>
                        عنوان صورتحساب: @bill.Header.FactorTitle <br>
                        تاریخ صدور صورتحساب نهایی: @bill.Header.CreateDate<br>
                    </address>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <address class="m-t-5 m-b-5">
                        <strong class="text-inverse">اطلاعات پرداخت</strong><br>
                        وضعیت پرداخت:
                        <strong style="color:@(string.IsNullOrEmpty(refId) ? "Red" : "Green")">
                            @(string.IsNullOrEmpty(refId) ? "پرداخت نشده" : "پرداخت شده") <br>
                        </strong>
                        کد رهگیری:
                        <strong style="color:@(string.IsNullOrEmpty(refId) ? "Red" : "Green")">
                            @(string.IsNullOrEmpty(refId) ? refId : "-")<br>
                        </strong>
                        تاریخ پرداخت:
                        <strong style="color:@(string.IsNullOrEmpty(refId)? "Red" : "Green")">
                            @(string.IsNullOrEmpty(refId) ? refId : "-")<br>
                        </strong>
                    </address>
                </div>
                <div class="col-md-6 col-xs-12 ">
                    <address>
                        <strong>  تاریخ:</strong><br>
                        @bill.Header.CreateDate<br><br>
                    </address>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @*    <div class="panel-heading">
            <h3 class="panel-title"><strong>آیتم های صورتحساب </strong></h3>
            </div>  *@
            <table class="table table-condensed panel panel-default">
                <thead>
                    <tr class="panel-title">
                        <td style="width: 30px;">ردیف</td>
                        <td style="width: 150px;"> عنوان   </td>
                        <td style="width: 100px;">تعداد</td>
                        <td style="width: 100px;">واحد</td>
                        <td style="width: 200px;"> قیمت هر واحد</td>
                        <td style="width: 90px;">   تخفیف</td>
                        <td style="width: 90px;"> قیمت کل</td>
                    </tr>
                </thead>
                <tbody>

                    @{
                        var i = 0;
                    }
                    @foreach (var item in bill.Items)
                    {
                        <tr>
                            <td>@i+1</td>
                            <td>@item.ItemTitle</td>
                            <td>@item.ItemCount</td>
                            <td>@item.ItemUnitType  </td>
                            <td>@item.ItemUnitPrice  ریال</td>
                            <td>@item.ItemDiscount   </td>
                            <td>@(item.ItemUnitPrice * (item.ItemCount <= 0 ? 1 : item.ItemCount))  ریال  </td>
                        </tr>

                    }
                    <tr style="background-color: lightblue;">
                        <td colspan="3"><b> جمع کل صورتحساب: @bill.Footer.FactorSumPrice   ریال</b></td>

                        <td colspan="5">
                            <b>
                                جمع کل با محاسبه @(bill.Footer.FactorVAT) درصد مالیات بر ارزش افزوده:
                                @Model.Price   ریال
                            </b>
                        </td>

                    </tr>
                </tbody>
            </table>
            <hr />
            <div class="invoice-from">
                <address class="m-t-5 m-b-5">
                    <strong class="text-inverse">مشخصات فروشنده</strong><br>
                    نام شرکت : @bill.Footer.SellerName<br>
                    شماره تماس: @bill.Footer.SellerTelephone[0]<br>
                    آدرس: @bill.Footer.SellerAddress[0]<br>
                </address>
            </div>
        </div>
    </div>
    <div class="text-left">
        <hr>
        @if (string.IsNullOrEmpty(refId))
        {
            if (string.IsNullOrEmpty(errorCode))
            {
                <div>
                    <form action="@Url.Action("Payment","Zarrinpal")" method="get" ngNoForm #FormElement>
                        <input type="hidden" value="@Model.Guid" name="guid" />
                        <div class="text-right">
                            <a href="https://my.welscoin.com/">برگشت به  سایت</a>
                            <button type="button" class="btn btn-primary " onclick="window.print()">چاپ</button>
                            <button class="btn btn-success payBtn " type="submit">
                                پرداخت
                            </button>
                        </div>
                    </form>
                </div>
            }
            else
            {
                <div class="text-right">
                    <a href="https://my.welscoin.com/">برگشت به  سایت</a>
                    <button type="button" class="btn btn-primary " (click)="Window.Print()">چاپ</button>
                </div>

                <div class="alert alert-arrow-right alert-icon-right alert-light-danger mt-4 text-left" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12" y2="16"></line></svg>
                    <strong>بروز خطا!</strong>  @errorCode
                </div>
            }
        }
        else
        {
            <div class="text-right">
                <a  href="https://my.welscoin.com/">برگشت به  سایت</a>
                <button type="button" class="btn btn-primary " (click)="Window.Print()">چاپ</button>
            </div>

            <div class="alert alert-arrow-right alert-icon-right alert-light-success mt-4 text-left" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12" y2="16"></line></svg>
                تراکنش با موفقیت انجام یافت<strong> کد رهگیری!</strong>  @refId
            </div>
        }

    </div>
</div>

