@using G_IPG_API.Models
@using G_IPG_API.Models.DataModels
@using Newtonsoft.Json
@model LinkRequest
@{
    ViewData["Title"] = "صورتحساب";
    var confirmInfo = ViewBag.confirmInfo as VerifyInquiryResult;
    var tknInf = ViewBag.TokenInfo as TokenResult;
    var bill = JsonConvert.DeserializeObject<FactorDataModel>(Model.FactorDetail!);
}
<div class="body">

    <div>

        <div class="col-12">
            <h6 class="blueHeader">صورتحساب </h6>
        </div>
    </div>


    @*     <ng-container *ngIf="!tknInf?.result.token; else headerElse">
    <div class="toBank">
    <div class="alert alert-warning">
    <strong class="text-inverse">Msg</strong><br>
    </div>
    </div>
    </ng-container>
    <ng-template #headerElse> *@
    <div class="card">

        <div id="prefactorContainer" class="body">
            <div class="invoice-header">
                <div class="center">
                    <img src="~/Content/assets/img/login-image.png" alt="طلا  " width="100" height="100" class="center">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="invoice-from">
                                <address class="m-t-5 m-b-5">
                                    <strong class="text-inverse">مشخصات خریدار</strong><br>
                                    نام مشتری : @bill.Header.CutomerName<br>
                                    شناسه مشتری: @bill.Header.CustomerId<br>
                                    شماره تلفن: @bill.Header.CustomerTelephone<br>
                                    شماره موبایل: @bill.Header.CustomerMobile<br>
                                </address>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="invoice-to">
                                <strong class="text-inverse">مشخصات سبد</strong><br>
                                <address class="m-t-5 m-b-5">
                                    شناسه صورتحساب: @bill.Header.FactorId <br>
                                    عنوان صورتحساب: @bill.Header.FactorTitle <br>
                                    تاریخ صدور صورتحساب نهایی: @bill.Header.CreateDate<br>
                                </address>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="invoice-to">
                                <strong class="text-inverse">اطلاعات پرداخت</strong><br>
                                <address class="m-t-5 m-b-5">
                                    وضعیت پرداخت:
                                    <strong style="color:@(confirmInfo.result.responseCode!="00" ? "Red" : "Green")">
                                        @(confirmInfo.responseCode != "00" ? "پرداخت نشده" : "پرداخت شده") <br>
                                    </strong>
                                    کد رهگیری:
                                    <strong style="color:@(confirmInfo.result.responseCode!="00" ? "Red" : "Green")">
                                        confirmInfo.result.responseCode!="00"? "-" : confirmInfo.result.retrievalReferenceNumber <br>
                                    </strong>
                                    تاریخ پرداخت:
                                    <strong style="color:@(confirmInfo.result.responseCode!="00" ? "Red" : "Green")">
                                        @(confirmInfo.result.responseCode != "00" ? "-" : confirmInfo.result.transactionDateTime)<br>
                                    </strong>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <legend>آیتم های صورتحساب</legend>
            <div style=" overflow: auto;">
                <fieldset style=" min-width:500px">
                    <table class="table table-striped table-bordered">
                        <thead style="background-color: whitesmoke;">
                            <tr>
                                <td style="width: 30px;">ردیف</td>
                                <td style="width: 150px;"> عنوان سرویس </td>
                                <td style="width: 200px;"> قیمت هر واحد</td>
                                <td style="width: 100px;">تعداد</td>
                                <td style="width: 90px;"> مبلغ تخفیف</td>
                                <td style="width: 90px;"> بدهکاری</td>
                                <td style="width: 90px;"> بستانکاری</td>
                                <td style="width: 90px;"> توضیح</td>
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (var item in bill.Items)
                            {
                                <tr>
                                    <td>i+1</td>
                                    <td>@item.ItemTitle</td>
                                    <td>@item.ItemSumPrice ریال</td>
                                    <td>@item.ItemCount @item.ItemUnitType</td>
                                    <td>@item.ItemDiscount  ریال</td>
                                    <td>@item.ItemSumPrice  ریال  </td>
                                    <td>@item.ItemSumPrice  ریال </td>
                                    <td>@item.ItemDesctription </td>
                                </tr>

                            }
                            <tr style="background-color: lightblue;">
                                <td colspan="3"><b> جمع کل صورتحساب: @bill.Footer.FactorSumPrice   ریال</b></td>

                                <td colspan="5">
                                    <b>
                                        جمع کل با محاسبه @bill.Footer.FactorVAT*100 درصد مالیات بر ارزش افزوده:
                                        @bill.Footer.FactorSumPriceByVAT   ریال
                                    </b>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <div class="invoice-from">
                        <address class="m-t-5 m-b-5">
                            <strong class="text-inverse">مشخصات فروشنده</strong><br>
                            نام شرکت : @bill.Footer.SellerName<br>
                            شماره تماس: @bill.Footer.SellerTelephone[0]<br>
                            آدرس: @bill.Footer.SellerAddress[0]<br>
                        </address>
                    </div>
                </fieldset>
            </div>
        </div>
        <div>
            <hr>
            @if (!string.IsNullOrEmpty(tknInf.result.token))
            {
                <div>

                    <form action="https://ikc.shaparak.ir/iuiv3/IPG/Index" method="post" ngNoForm #FormElement>
                        <input type="hidden" name="tokenIdentity" [value]="tknInf.result.token" />
                        <div *ngIf="tknInf?.result.token">
                            <div>
                                <button type="button" class="btn btn-primary col-3" (click)="printPreFactor()">چاپ</button>
                                <button *ngIf="confirmInfo.result.responseCode!='00'" class="btn btn-success payBtn col-3"
                                        type="submit">
                                    پرداخت
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            }
            @if (string.IsNullOrEmpty(tknInf.result.token))
            {
                <p>دریافت توکن</p>
            }
        </div>
    </div>

</div>
@* </ng-template> *@





</div>